body {
    color: white;
}

#highScoresList {
    list-style: none;
    position: absolute;
    bottom: 100px; /* Adjust this value to move the list down */
    font-size: 50px;
}

#finalScore {
    position: absolute;
    top: 150px;
}

/* Media query for screens with a maximum width of 480 pixels */
@media only screen and (max-width: 480px) {
    #highScoresList {
      bottom: 50px;
      font-size: 30px;
    }
    
    #finalScore {
      top: 100px;
    }
  }


