*
{
    box-sizing: border-box;
    padding: 5;
    margin: 5;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    background: rgb(243, 183, 114)
}



.choices
{
    font-size: 30px;
    width: 400px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(0, 0, 0); 
    background: linear-gradient(360deg, rgb(197, 109, 8)40%, rgb(138, 12, 40)100%);
    text-decoration: none;
    border-radius: 10px;
    display: flex;
}
.choices:hover
{
    cursor: pointer;
    box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.16), 0 10px 10px 0 rgba(255, 255, 255, 0.12);
    font-size: 30px;
    width: 470px;
    padding: 10px;
    display: flex;
    background: linear-gradient(360deg, rgb(229, 230, 179)40%, rgb(219, 123, 13)100%);
    
}

#top
{
    display: flex;
    justify-content: space-between;
}

.questiontext
{
    text-align: center;
    font-size: 40px;
    position: absolute;
    left: 20px;
    margin-top: 10px;
}

.score
{
    font-size: 80px;
    margin-top: 80px;
    margin-right: 25px;
}

.questiontext1
{
    text-align: center;
    font-size: 80px;
    position: absolute;
    right: 150px;
}

.correct
{
    background: linear-gradient(180deg, rgb(8, 197, 40)40%, rgb(12, 138, 33)100%);
    border-radius: 10px;
    box-shadow: 0 30px 30px 0 rgba(9, 238, 66, 0.16), 0 10px 10px 0 rgba(31, 245, 11, 0.12);
    font-size: 40px;
    width: 480px;
}

.incorrect
{
    background: linear-gradient(180deg, rgb(219, 20, 30)40%, rgb(219, 25, 67)100%);
    box-shadow: 0 30px 30px 0 rgba(247, 29, 0, 0.16), 0 10px 10px 0 rgba(241, 11, 11, 0.12);
    font-size: 40px;
    border-radius: 10px;
    width: 480px;
}

#status
{
    width: 95%;
    height: 50px;
    border-radius: 30px;
    border: 5px solid greenyellow;
    overflow: hidden;
    position: absolute;
    bottom: 20px;
}

#status100 
{
    height: 100%;
    background-color: greenyellow;
    width: 0%;
}

.main-text
{
    font-size: 60px;
}

@media screen and (max-width: 700px)
{
    .choices {
        font-size: 20px;
        width: 200px;
    }

    .choices:hover {
        width: 200px;
    }

    .questiontext {
        font-size: 30px;
        left: 10px;
        width: 200px;
    }

    .score {
        font-size: 30px;
        margin-top: 28px;
        margin-right: 10px;
    }

    .questiontext1 {
        font-size: 30px;
        right: 50px;
    }

    .correct, .incorrect {
        font-size: 30px;
        width: 280px;
    }

    #status {
        height: 30px;
        bottom: 10px;
    }

    .main-text {
        font-size: 30px;
    }
}